<% @messages.each do |message| %>
  <div class="message">
    <h3><small>By: <%= message.author %></small></h3>
    <p>
      <%= message.content %>
    </p>
    <% if message.url %>
    <p>
      <a href="<%= message.url %>"><%= message.url %></a>
    </p>
    <% end %>
  </div>
<% end %>

<a href="/messages/new">Post a message... It's FREE (for now)!</a>
